<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngFor="let entry of chains$ | async | keyvalue">
        <button mat-menu-item routerLink="/{{ entry.key }}"
             routerLinkActive="active">{{ entry.key }}
        </button>
      </div>
    </mat-menu>
    <span>Terra Nodes Geolocation Map</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
