.container {
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 56px;
}

.stat-card {
  max-width: 400px;
  min-width: 400px;
}
