<div class="container">
  <h4>Most Concentration</h4>
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile [rowspan]="2" [colspan]="1">
      <ngx-charts-number-card
        [view]="viewSize"
        [results]="cardsData"
        [cardColor]="'#232837'"
      >

      </ngx-charts-number-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [colspan]="2">
    </mat-grid-tile>
  </mat-grid-list>

  <!-- div class="mt-5 pt-5">
    <h2>Todo list</h2>
    <p>
      - "other" in chart shows the list
      <br>
      - do not start from scratch on process restart
      <br>
      - add "last seen" date on nodes
      <br>
      - being able to see only nodes past a specific date
      <br>
      - display only active validators
      <br>
      - display missed blocks/precommits
      <br>
      - what else?
    </p>
  </div -->
</div>
