<div class="container">
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-card class="stat-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          texte
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="3" [colspan]="2">
      test
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-card class="stat-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          texte
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
      <mat-card class="stat-card">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          texte
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="mt-5 pt-5">
    <h2>Todo list</h2>
    <p>
      - "other" in chart shows the list
      <br>
      - do not start from scratch on process restart
      <br>
      - add "last seen" date on nodes
      <br>
      - being able to see only nodes past a specific date
      <br>
      - display only active validators
      <br>
      - display missed blocks/precommits
      <br>
      - what else?
    </p>
  </div>
</div>
